/* Settings for navigation bar */
.logo {
  width: 144px;
  height: 101px;
}

.nav-link {
  color: #6d0709;
}

.nav-item:hover .nav-link {
  background-color: #6d0709;
  color: #ffeeaa;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #ffeeaa;
  background-color: #6d0709;
}

/* General settings */
#body {
  background-color: #ffeeaa;
}

/* Settings for contact section */
.contact {
  margin-top: 100px;
}

.contact h1 {
  color: #6d0709;
  font-weight: bold;
}

.contact .info {
  padding-top: 20px;
  font-size: 1.4em;
  color: #6d0709;
}

.contact img {
  margin-left: 200px;
  margin-bottom: 200px;
  width: 400px;
}

/* Settings for footer area section */
.footer_area {
  background-color: #6d0709;
  padding-bottom: 10px;
  padding-top: 40px;
}

.footer_statement {
  color: #ffeeaa;
  padding-bottom: 12px;
}
